services:
  backend:
    build:
      context: ./backend
    container_name: laravel_app
    env_file:
      - ./.env
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
    # BYPASS
    # ports:
    #   - "8000:8000"
    # command: php artisan serve --host=0.0.0.0 --port=8000

  frontend:
    build:
      context: ./frontend
    container_name: flutter_app
    volumes:
      - ./frontend:/app

    # 3. Portas:
    # Mapeia a porta 8080 do container para a porta 8080 da sua máquina.
    # Útil para `flutter run -d web-server`
    ports:
      - "8080:8080"
      # (Opcional) Porta do Dart Observatory/VM Service
      - "8181:8181"
    command: flutter run -d web-server --web-hostname 0.0.0.0 --web-port 8080

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

volumes:
  pgdata:
